 {%extends "index.html"%}
 {%load static from staticfiles%}
 {%block home%}
 <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{% static "img/profile.png" %}" alt="">
                    <div class="intro-text">
                        <span class="name">NARESH KUMAR</span>
                        <hr class="star-light">
                        <span class="skills">Python/Django Developer - Quick Learner</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">ABOUT</h2>
                    <hr class="light">
                    <p class="text-faded">I am a guy who loves to learn new things. I never hesitate to take one step forward to lean new technology. I always take part in team discussions to suggest new idea, new approach to achieve target. I love my work and do it with full enthusiasm. I believe on smart work rather than working hard. I am confident and self motivated. I like to challenging work which cannot be don't without full focus. I worked on multiple technologies and always achieved goals before time. I did embedded system course from vector institute, Hyderabad. I have strong skills in C/C++/Python. I am working in Django in my current organization</p>
                    <a href="https://drive.google.com/file/d/0B0JOKpp3abpzQWJqak9tYUhqQms/view?pli=1" class="btn btn-default btn-md">Resume</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">PROJECTS</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>

        <div class="container">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">CMS Analytics System</a>
                </h3>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">A content management system (CMS) is a computer application that allows publishing, editing and modifying content, organizing, deleting as well as maintenance from a central interface. CMS Analytics is a web service for CMS operators or service providers to analyse the usage of media content. This web application provide option to generate charts based on customers usage such as Top 10 video content based on Users watching that content.</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Automated Tool to Test ATA HDD Connected with RAID Card</a>
                </h3>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">This is an automated tool which monitors hard drives for health status, taking advantage of S.M.A.R.T. This tool is capable of check system hard drive connected with ATA controller and hard drives connected with RAID controller. The application checks S.M.A.R.T attributes and S.M.A.R.T Error log to ensure hard drive is healthy. This tool also perform Interface test, Seek test, Read/Write test and error verification. It is also able to enable and disable certain settings of your hard drive, settings which are normally only available to advanced users.</div>
              </div>
            </div>
          </div>
        </div>

    </section>


    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Github And Stackoverflow Account</h2>
                <a href="https://github.com/nareshlove" class="btn btn-default btn-ms wow tada">Github</a>
                <a href="http://stackoverflow.com/users/3805509/naresh" class="btn btn-default btn-ms wow tada">Stackoverflow</a>
            </div>
        </div>
    </aside>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p style="font-size:20px;"">+91-8712241074</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p class=text-faded><a href="mailto:your-email@your-domain.com">lnaresh60@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "js/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/jquery.fittext.js" %}"></script>
    <script src="{% static "js/wow.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/creative.js" %}"></script>
{% endblock %}